Gemfile.lock
_drafts/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.DS_Store
.bundle/
vendor/
*.swp
*.swo
*.bkp
TODO.txt

_site
node_modules
.sass-cache
*.gem
Gemfile.lock
*.gem
assets/**/*.html
assets/**/*.md

